@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

.container {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background: rgba(22, 22, 23, 0.8);
  z-index: 9999;
}
nav .container {
  max-width: 1024px;
}
nav .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container ul .nav-item {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  cursor: pointer;
}
nav .container ul .nav-item:hover {
  color: #fff;
}
nav .container ul .nav-item .logo {
  width: 30px;
  padding-top: 10px;
}
nav .container ul .nav-item .search-input {
  padding: 3px 16px;
  border: none;
  border-radius: 14px;
  background-color: #5f5f5f;
  margin-right: 7px;
  outline: none;
  font-size: 1rem;
  color: #fff;
}
nav .container ul .nav-cart {
  position: relative;
}
nav .container ul .nav-cart::after {
  position: absolute;
  top: 0;
  right: -5px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}
nav .container ul .bar {
  width: 22px;
  height: 22px;
  position: relative;
}
nav .container ul .bar .bar1 {
  position: absolute;
  top: 6px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}
nav .container ul .bar .bar1-on {
  top: 12px;
  width: 90%;
  transform: rotate(45deg);
}
nav .container ul .bar .bar2 {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}
nav .container ul .bar .bar2-on {
  bottom: 8px;
  width: 90%;
  transform: rotate(-45deg);
}
nav .nav-search {
  height: 360px;
  padding-top: 100px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background: #161617;
  z-index: -1;
  color: #fff;
  transform: translateY(-150%);
  transition: transform 1s;
}
nav .nav-search .container .svg-inline--fa {
  font-size: 18px;
}
nav .nav-search .container input {
  font-size: 24px;
  padding: 0 10px;
  border: none;
  outline: none;
  background: none;
  color: #fff;
}
nav .nav-search-on {
  transform: translateY(0);
}
nav .nav-menu {
  position: absolute;
  height: 110vh;
  left: 0;
  right: 0;
  background: #161617;
  z-index: -1;
  color: #fff;
  transform: translateY(-130%);
  transition: transform 1s;
  font-size: 50px;
  padding: 80px 40px;
}
nav .menu-on {
  transform: translateY(-5%);
}

.watched-wrap {
  position: fixed;
  top: 15vh;
  right: 20px;
  background-color: white;
  border: 0.3px solid black;
  width: 90px;
  z-index: 200;
  text-align: center;
  font-size: 12px;
}
.watched-wrap .watched-cart {
  height: 34px;
  line-height: 34px;
  border-bottom: 0.3px solid black;
}
.watched-wrap .watched-cart span {
  display: inline-block;
  background-color: red;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
}
.watched-wrap .watched-list p {
  font-weight: bold;
}

.ad-wrap {
  position: relative;
  width: 100%;
  background-size: cover;
  height: 40vw;
  color: #000;
  font-weight: bold;
  margin: 78px 0 25px;
  overflow: hidden;
}
.ad-wrap .ad-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}
.ad-wrap .ad-content h2 {
  font-size: 50px;
  transition: transform 1s;
}
.ad-wrap .ad-content span {
  display: block;
  font-size: 15px;
  transition: transform 1s;
}
.ad-wrap .ad-content a {
  padding: 11px 21px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
}

.iu .ad-content {
  transform: translate(-250%, -50%);
}

.yeona .ad-content {
  transform: translate(-50%, -500px);
}

.nike .ad-content {
  transform: translate(25%, 350px);
}

.swiper-slide-active .ad-wrap.iu .ad-content {
  transform: translate(20%, -50%);
}
.swiper-slide-active .ad-wrap.yeona .ad-content {
  transform: translate(-50%, -50%);
}
.swiper-slide-active .ad-wrap.nike .ad-content {
  transform: translate(25%, -106%);
}

.swiper-pagination {
  bottom: 3px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  margin: 0 7px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #1843ff;
}

.adidas {
  color: #fff;
  margin: 25px 0;
  overflow: hidden;
}
.adidas img {
  transition: transform 0.5s;
}
.adidas img:hover {
  transform: scale(1.3);
}

.shoes-wrap {
  width: 100%;
  background-color: #f5f5f5;
  padding: 90px 0 50px;
}
.shoes-wrap h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  text-align: center;
  margin-bottom: 50px;
}
.shoes-wrap button {
  display: block;
  margin: 33px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(24, 67, 255);
  color: #fff;
  cursor: pointer;
}
.shoes-wrap .container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px 5%;
}
.shoes-wrap .container .shoes-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  cursor: pointer;
  width: 30%;
}

.card-wrap {
  width: 100%;
  padding: 100px 0;
}
.card-wrap h2 {
  font-size: 70px;
  font-family: "Bebas Neue", sans-serif;
  margin-left: 7.5%;
  margin-bottom: 30px;
}
.card-wrap .container {
  display: flex;
  justify-content: space-between;
}
.card-wrap .container .card {
  width: 30%;
}
.card-wrap .container .card img {
  transition: 0.5s;
}
.card-wrap .container .card img:hover {
  border-radius: 50px;
}
.card-wrap .container .card h3 {
  margin-top: 10px;
  font-size: 24px;
}
.card-wrap .container .card p {
  margin: 15px 0;
  height: 50px;
}
.card-wrap .container .card button {
  border: none;
  background: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
}

.detail-wrap {
  padding-top: 130px;
  position: relative;
}
.detail-wrap .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 10vw;
  margin-bottom: 50px;
}
.detail-wrap .container .ditail-img {
  position: sticky;
  top: 20px;
  width: 600px;
  height: 392px;
  z-index: 100;
}
.detail-wrap .container .detail-content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 400px;
}
.detail-wrap .container .detail-content h4 {
  font-size: 30px;
}
.detail-wrap .container .detail-content button {
  display: block;
  width: 100%;
  background-color: rgb(6, 127, 60);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.detail-wrap .container .detail-content .content-info {
  margin: 28px 0;
  box-shadow: inset 0 1px 0 0 #e5e5e5;
}
.detail-wrap .container .detail-content .content-info li {
  position: relative;
  padding: 28px 0;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
}
.detail-wrap .container .detail-content .content-info li h3 {
  cursor: pointer;
}
.detail-wrap .container .detail-content .content-info li div {
  padding: 28px 0;
}
.detail-wrap .container .detail-content .content-info li .content-btn {
  position: absolute;
  top: 0;
  right: 10px;
  pointer-events: none;
}
.detail-wrap .recommend-wrap {
  padding: 100px;
  background-color: #f5f5f5;
}
.detail-wrap .recommend-wrap h3 {
  margin: 50px 0 50px 0;
}
.detail-wrap .recommend-wrap .recommend {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.detail-wrap .recommend-wrap .recommend .shoes-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  cursor: pointer;
  width: 300px;
}

.cart-wrap {
  padding: 130px 0 100px;
}
.cart-wrap .container {
  width: 65%;
}
.cart-wrap .container h3 {
  padding: 15px 5px;
  border-bottom: 2px solid black;
  margin-bottom: 60px;
  font-size: 48px;
}
.cart-wrap .container .cart-table {
  box-shadow: 0px -1px 0 0 #e5e5e5;
}
.cart-wrap .container .cart-table .table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.cart-wrap .container .cart-table .table p {
  width: 10%;
  text-align: center;
}
.cart-wrap .container .cart-table .cart-name {
  background-color: #f5f5f5;
  box-shadow: inset 0 -1px 0 0 #000;
}
.cart-wrap .container .cart-table .cart-item {
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
}
.cart-wrap .container .cart-table .cart-item .cart-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.cart-wrap .container .cart-table .cart-item .cart-images .cart-img {
  width: 150px;
}
.cart-wrap .container .cart-table .cart-item .cart-images p {
  font-size: 12px;
}
.cart-wrap .container .cart-table .cart-item .cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.cart-wrap .container .cart-table .cart-item .cart-count p {
  border: 1px solid black;
  border-right: none;
  height: 30px;
}
.cart-wrap .container .cart-table .cart-item .cart-count .cart-count-btn {
  display: flex;
  flex-direction: column;
}
.cart-wrap .container .cart-table .cart-item .cart-count .cart-count-btn button {
  border: 1px solid #000;
  background-color: #e5e5e5;
  width: 15px;
  height: 15px;
}
.cart-wrap .container .cart-table .cart-item .cart-count .cart-count-btn button:last-child {
  border-top: none;
}
.cart-wrap .container .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 20px 0;
  padding: 40px 60px 40px 50px;
  border: 3px solid #494949;
  font-weight: bold;
}
.cart-wrap .container .total p {
  font-size: 16px;
}
.cart-wrap .container .total .total-total {
  font-size: 20px;
  color: red;
}
.cart-wrap .container .pay {
  display: block;
  width: 160px;
  border-color: #F9E547;
  border-radius: 100px;
  background: #F9E547;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
  height: auto;
  padding: 23px 0px;
  text-align: center;
  margin-left: auto;
}

.footer {
  background: #111111;
  color: #7e7e7e;
  padding: 40px 0;
  font-size: 12px;
}
.footer a {
  color: #7e7e7e;
  font-size: 12px;
  cursor: pointer;
}
.footer .footer_strong a {
  font-size: 14px;
  color: #fff;
}
.footer .footer_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  row-gap: 30px;
}
.footer .footer_header .footer_link {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.footer .footer_header .footer_link ul {
  width: 200px;
}
.footer .footer_header .footer_link ul li {
  margin-bottom: 15px;
}
.footer .footer_header .footer_sns ul {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer_header .footer_sns ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 16px;
  background: #7e7e7e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer_header .footer_sns ul li a {
  display: block;
  width: 70%;
  height: 70%;
}
.footer .footer_middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #7e7e7e;
  margin-bottom: 20px;
}
.footer .footer_middle ul {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer_middle ul li {
  margin-left: 12px;
}
.footer .footer_middle ul li a {
  padding: 8px;
}
.footer .footer_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.footer .footer_bottom span {
  padding: 8px;
}

@media only screen and (min-width: 0px) and (max-width: 570px) {
  nav .container ul {
    justify-content: space-evenly;
  }
  .watched-wrap {
    width: 70px;
  }
  .ad-wrap .ad-content h2 {
    font-size: 22px;
  }
  .ad-wrap .ad-content span {
    font-size: 11px;
  }
  .ad-wrap .ad-content a {
    font-size: 12px;
    margin-top: 20px;
  }
  .card-wrap .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }
  .card-wrap .container .card {
    width: 100%;
  }
  .card-wrap .container .card h3 {
    font-size: 20px;
  }
  .card-wrap .container .card p {
    margin: 5px 0;
    font-size: 12px;
  }
  .cart-wrap .container .cart-table .table p {
    font-size: 12px;
  }
  .cart-wrap .container h3 {
    font-size: 40px;
  }
  .cart-wrap .container .total {
    align-items: flex-start;
    flex-direction: column;
  }
  .cart-wrap .container .total p {
    font-size: 14px;
  }
  .cart-wrap .container .total .total-total {
    font-size: 16px;
  }
}
@media only screen and (min-width: 571px) and (max-width: 900px) {
  nav .container ul {
    justify-content: space-evenly;
  }
  .ad-wrap .ad-content h2 {
    font-size: 34px;
  }
  .card-wrap .container {
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }
  .card-wrap .container .card {
    width: 45%;
  }
  .cart-wrap .container .cart-table .table p {
    font-size: 14px;
  }
  .cart-wrap .container .total {
    align-items: flex-start;
    flex-direction: column;
  }
}/*# sourceMappingURL=App.css.map */